*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    background: #efefef;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.professional-skills {
    height: 160px;
    width: 160px;
    /* background: cornflowerblue; */
    position: relative;
    display: flex;   
    justify-content: space-between;
}
.professional-skills h3{
    padding-top: 50px;
    text-align: center;
}

/*Globally used  properties of outer and inner part   */
.outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 18px;  

    box-shadow: 6px 6px 10px -1px rgba(0,0,0, 0.15),
                -6px -6px 10px -1px rgba(255,255,255, 0.7)
}
.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}
#number {
    font-weight: 600;
    color: #555;
}
#number1 {
    font-weight: 600;
    color: #555;
}

/* start first skills  */
.first-skill{
    margin-right: 30px;
}

.first-skill svg {
    position: absolute;
    top: 0;
    left: 0;
}
.first-skill circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}

@keyframes anim {
 100%{
    stroke-dashoffset: 165;
 }
}


/* start second skills  */
.second-skill svg {
    position: absolute;
    top: 0px;
    left: 190px;
}
.second-skill circle{
    fill: none;
    stroke: url(#GradientColor1);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim1 2s linear forwards;
}
@keyframes anim1 {
    100%{
       stroke-dashoffset: 130;
    }
}