body{
  margin:0;
  font-family: Arial, sans-serif;
}
/**/
header{
  background:#333;
  padding: 15px 20px;
  color: white;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links{
  display: flex;
  list-style: none;
  gap: 15px;
}
.nav-links li{
  display: inline;
}
.nav-links a{
  color: white;
  text-decoration: none;
  padding: 8px 12px;
}
.hamburger{
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
}
.login-btn{
  background: #f04e30;
  padding: 8px 12px;
  border-radius: 5px;
}

@media (max-width:768px){
   .nav-links{
    display: none;
    flex-direction: column;
    background: #333;
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    padding: 12px 0;
   }
   .nav-links.show{
    display: flex;
    margin-top: 2px;
    margin-left: 75%;
    width: 25%;
    height: 22%;
    align-items: center;
    text-align: center;
   }
   .hamburger{
    display: block;
   }
    
}